.formContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  width: 50%;
}

.edit-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

@media (max-width: 577px) {
  .formContainer {
    width: 80%;
  }
}
